

body {
    font-family: 'Arial', sans-serif;
    text-align:center;
    background-color:pink;
}

h1 {
    color: green;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
#button{
background-color:green;
}

*{
margin-top:20px;
}